<!DOCTYPE html>
<html>

<head>
  <title>Nimbla Invoice Checker</title>
  <meta charset="UTF-8">
  <meta name="description" content="Nimbla Technical Test">
  <meta name="keywords" content="HTML,CSS,JavaScript,MongoDB">
  <meta name="author" content="Hamzah Kurdi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div id="root"></div>
  <script src="/static/bundle.js"></script>
</body>

</html>